/* 
    This code comes from https://codepen.io/mdeken/pen/exxawB
    and https://codepen.io/ananyaneogi/pen/Ezmyeb, with some personal tweaks
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500;900&display=swap');

html, body {
  height: 100%;
}

body {
  background-color: #494853;
  font-family: 'Noto Sans Mono', monospace;
  overflow: hidden;
}

svg {
  display: block;
  margin: auto;
  width: 66.66%;
  min-height: 90vh;
}

.header {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 900;
  font-size: 2rem;
  color: #fff;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 90vh;
  align-items: center;
}

a {
  display: inline-block;
  padding: 0.6em 1em;
  margin: 0.6em;
  background-color: #758686;
  color: #fff;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  border-color: #494853;
  cursor: pointer;
}

a:hover {
  background-color: #EDFF71;
  transition: all 0.6s;
  color: #494853;
}

a.active {
  background-color: #EDFF71;
  color: #494853;
}

.nodes {
  cursor: grab;
}

.nodes:active {
  cursor: grabbing;
}

/*---------------------------------------------------------*/

.info-panel{
  display: flex;
  width: 33.33%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 70vh;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 70vh;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:focus {
    outline: 0;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 70vh;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #494853;
  color: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.flip-card-back {
  background-color: rgba(150, 150, 150, 0.6);
  color: #fff;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
h3 {
  font-size: 1rem;
  font-weight: 500;
}
